
/* coleurs initiales */

:root {
    --premiereCouleur:black;
    --secondeCouleur:#03A79E;
}

.customTextBlack{
    color: var(--premiereCouleur);
}

.customBgBlack{
    background-color:var(--premiereCouleur);
}

.customSecondTextColor{
    color:var(--secondeCouleur);
}

.customSecondBgColor{
    background-color:var(--secondeCouleur);
}

/* autres css */
.customCategorieSize{
    font-size:"font-size-md";
}

.btn-customSecondBgColorHover {
    background-color:var(--secondeCouleur);
}

.btn-customSecondBgColorHover:hover {
    color: #fff;
    background-color:var(--secondeCouleur);
    border-color:var(--secondeCouleur);
}

.btn-customSecondBgColor {
    color: #fff;
    background-color:var(--secondeCouleur);
}

.btn-customSecondBgColor:hover {
    color: #fff;
}

.fs-1 { font-size: 2.5rem !important; }
.fs-2 { font-size: 2rem !important; }
.fs-3 { font-size: 1.75rem !important; }
.fs-4 { font-size: 1.5rem !important; }
.fs-5 { font-size: 1.25rem !important; }
.fs-6 { font-size: 1rem !important; }